@use '../../../../../../styles/variables' as *;

.card {
  margin-bottom: 25px;
  width: 400px;
}

.cardHeader {
  background-color: $color-light-blue-1;
  box-shadow: $drop-shadow;
  color: $color-dark-blue-1;
  display: flex;
  justify-content: space-between;
}

.titleText {
  display: inline-block;
  font-weight: $font-weight-medium;
  font-size: $font-size-lg;

  display: -webkit-box;
  max-width: 295px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.quizInfoLabel {
  text-align: left;
  color: $color-dark-blue-1;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
}

.quizInfo {
  padding: 10px 0px 10px 0px;
  color: $color-dark-blue-1;
  font-weight: $font-weight-light;
  font-size: $font-size-md;
  text-align: right;
}

.latestQuizInfo {
  padding: 10px 0px 10px 0px;
  text-align: right;
  margin-top: 30px;
  font-weight: $font-weight-semibold;
  font-size: $font-size-base;
}

.retake {
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  color: $color-dark-blue-2;
  text-align: end;
}

#listTable {
  color: $color-dark-blue-1;
  font-weight: $font-weight-semibold;
  font-size: $font-size-base;
  text-align: left;
}

.timerIcon {
  display: flex;
  align-items: center;
}

Col.Card:nth-child(3) {
  display: none;
}
