@use '../../../../../styles/variables' as *;

%flex-and-center {
  display: flex;
  align-items: center;
}

%answers-style {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  color: $color-dark-blue-1;
  margin-right: 10px;
}

.wrongMarkIcon {
  color: $color-incorrect;

  @extend %answers-style;
}

.checkMarkIcon {
  color: $color-correct;

  @extend %answers-style;
}

.timeLimit {
  margin-right: 50px;
  position: absolute;
  right: 0;
  gap: 7px;

  @extend %flex-and-center;
}

.accordionBody {
  border-bottom: 1px solid $color-light-blue-1;

  @extend %flex-and-center;
}
