.CardHeaderstyle{
    background-color:#E0EAEC; 
    filter: drop-shadow(0 1mm 1mm #48535b8c);
    display: flex;
}

.Dropdownstyle{
    margin-left: 45px;
    background: white;
    border-radius: 2px;
    border: 1px solid #0000002d;
    height: 28px;
    width: 80px;
    margin-top: 0px;
    text-decoration: none;
    color: black;
    padding-bottom: 25px;
}
.Dropdownstyle:hover{
    color:black
}

.Dropdownmenustyle{
    width: 84px;
}

.Dropdownitemstyle{
    padding: 5px 0px 2px 8px;
    width: 80px;
    background-color: white;
}

.Dropdownitemstyle:focus{
    background-color: silver;
}


.Textfordropdownstyle{
    color: #48535B;
}

.CardBodystyle{
    width: 548px;
    padding-top: 0px;
}

.inputstyle{
    height: 32px;
    width: 400px;
    border-radius: 4px;
    border: 2px solid #CED4DA;
}
.inputstyle:focus{
    outline-color:  #adb8c4;
}

.inputstyle::placeholder{
    padding-left: 10px;
}

.iconsearchstyle{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 370px;
    margin-top: 6px;
}

.cal_02{
    background-color:white;
    width: 540px;
    height: 300px;
    margin-top: 10px;
}

.cal_3{
    overflow-y: scroll;
    overflow-x: hidden;
}

.margineforspan{
    color: #48535B;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
#floatrighttext{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 0px 240px 0px 0px;
    text-indent: 55px;
}

.s_h3{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 17px;
    height: 30px;
}

.followerstextindentstyle{
    text-indent: 0px;
    padding-right: 55px;
}

.button{
    float: right;
    margin-right: 5px;
    width: 80px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background-color: #C0D5D8;
    border-radius: 2px;
    color: white;
}

.button:hover{
    background-color: #9ABEC1;
    color: #48535B;
}