@use '../../../../styles/variables' as *;

@mixin flex($justify-value, $align-value, $direction, $gap-value) {
  display: flex;
  align-items: $align-value;
  justify-content: $justify-value;
  flex-direction: $direction;
  gap: $gap-value;
}

.mainContent {
  position: absolute;
  height: 100%;
  width: calc(100% - 300px);
  left: 300px;
  padding: 40px;

  overflow: auto;
  overflow-x: hidden;

  @include flex(none, none, column, 30px);
}

.headerSection {
  @include flex(flex-start, flex-start, column, 5px);
}

.pageTitle {
  font-weight: $font-weight-medium;
  font-size: $font-size-page-title;
  color: $color-dark-blue-1;
  margin: 0px;
}

.listItems {
  cursor: pointer;
  padding: 0px 20px;

  @include flex(space-between, center, row, 0px);

  &:hover {
    background-color: $color-white-4;
  }
}

.clickableArea {
  width: calc(100% - 30px);
  height: 100%;
  padding: 20px 0px;
}

.categoryName {
  color: $color-dark-blue-1;

  &:hover {
    color: $color-black;
    font-weight: $font-weight-medium;
    text-decoration: underline;
  }
}

.kebabMenu {
  background-color: transparent;
  border: none;
  color: $color-gray;
  width: 20px;
  height: 25px;
  padding: 0px;

  &:focus,
  &:hover {
    background-color: $color-white;
    color: $color-gray;
  }
}

.kebabMenuList {
  border: 1px $color-light-blue-1 solid;
  border-radius: 2px;
  width: 200px;
  height: 100px;
}

.kebabMenuItems:focus {
  background-color: $color-light-blue-1;
  color: $color-dark-blue-1;
}

.spinner {
  height: 700px;

  @include flex(center, center, row, 10px);
}
