.userProfileContainer {
  margin: 100px 130px;
}

.avatar {
  border: black 1px solid;
  padding: 6px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: orange;
}

.avatarforUser{
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 215px;
  left: 297px
}

.userEditText {
  float: left;
  display: inline-flex;
  margin-right: 50px;
  color: #152536;
}

.userEdit {
  border: #e0eaec 3px solid;
  border-radius: 2px;
  margin-left: 20px;
  padding: 5px;
  margin-bottom: 20px;
  color: black;
}

.followingText {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 0px;
  display: inline-block;
  font-weight: 300px;
  color: #48535b;
}

.followersText {
  font-size: 20px;
  margin-top: 0px;
  display: inline-block;
  font-weight: 300px;
  color: #48535b;
}

.activitiesTableContainer {
  padding: 0px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #48535b;
}

.cardHeader {
  background-color: #e0eaec;
  width: 650px;
  height: 40px;
  border-radius: 2px 2px 0px 0px;
  font-size: 18px;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
}

.cardBody {
  background-color: white;
  width: 650px;
  height: 330px;
  border-radius: 0px 0px 10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.biUserPosition {
  border: black 1px solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.biUserPosition1 {
  border: black 1px solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#timestamp {
  float: right;
  margin-top: 20px;
  margin-right: 17px;
  font-size: 14px;
  margin-left: auto;
}

.activityDescription {
  color: #48535b;
  margin-left: 20px;
  font-size: 16px;
}

.tableContainer {
  display: flex;
}

.activityInfo {
  margin-top: 20px;
  margin-left: 17px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalform{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.uploadbutton{
    background-color: #C0D5D8;
    border-color: #C0D5D8;
    color: #48535B;
    width: 85px;
    height: 32px;
    margin-top: 8px;
    margin-bottom: 5px;
    position: absolute;
}

.uploadbutton:hover{
  background-color: #9ABEC1;
  border-color: #9ABEC1;
  color:white
}

#Btncolor {
  background-color: #c0d5d8;
  border-color: #c0d5d8;
  width: 85px;
  height: 32px;
  font-size: 14px;
  color: #48535b;
  margin-top: 10px;
}

#Btncolor:hover {
  background-color: #9abec1;
  border-color: #9abec1;
  color: white;
  cursor: pointer;
}

.iconcursor:hover{
  cursor: pointer;
}

.form-control{
  color: red;
}

.controllerstyle{
  border-top: none;
  padding: 8px
}

.successMessageContainer {
  background-color: rgba(255, 255, 255, 0.692);
  padding: 25px;
}
