@use '../../../../styles/variables' as *;

@use '../../../../styles/global-styles' as *;

%column-flex {
  display: flex;
  flex-direction: column;
}

.quizEditContainer {
  background: $color-white;
  border-radius: 2px;
  border: 1px solid $color-light-blue-1;
  color: $color-dark-blue-1;

  width: 100%;
  height: 100%;
  padding: 50px;

  @extend %column-flex;
}

.divStyle {
  display: flex;
  height: 100%;
  gap: 65px;
}

.quizTitle {
  font-weight: $font-weight-bold;
  font-size: $font-size-page-title;
  margin-bottom: 10px;
}

.quizCategory {
  color: rgb(129, 139, 144);
  font-size: $font-size-md;
  margin-bottom: 50px;
}

.quizEditSidebar {
  gap: 28px;
  width: 314px;
  height: 80%;
  margin-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  overflow: scroll;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-light-blue-1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-light-blue-2;
  }

  @extend %column-flex;
}

%nav-link-style {
  width: 245px;
  height: 61px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinkItem {
 @extend %nav-link-style;
}

.currentNavLinkItem {
  @extend %nav-link-style;

  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
} 

.questionDetails {
  width: 100%;
}

.questionNumber {
  font-size: $font-size-sm;
  color: rgba(154, 165, 172, 1);
}

.question {
  font-size: $font-size-md;
  color: #48535b;

  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.confirmationButtons {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin-top: auto;
  top: 85%;
  left: 79%;
}

.cancelButton {
  color: $color-dark-blue-1;

  &:hover {
    color: $color-dark-blue-3;
  }
}

.centerForm {
  align-self: center;
  margin-bottom: 30px;
}

.formSpacing {
  margin-top: 20px;
}

.inputTitle {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
}

.inputchoices {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  margin-bottom: 20px;
}

.inputWidth {
  width: 607px;
  height: 53px;
  border: 2.5px solid $color-light-blue-1;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.inputHeight {
  height: 240px;
  max-height: 240px;
  border: 2.5px solid $color-light-blue-1;
  resize: none;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.formGap {
  margin-top: 1px;
  margin-left: 30px;
}

.iconSize {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.removeChoiceIcon {
  color: $color-light-gray;
  height: 30px;
  width: 30px;
  float: right;
  margin: 10px 10px 0.5px 0px;
  cursor: pointer;

  &:hover {
    color: $color-dark-blue-1;
  }
}

.removeQuestionIcon {
  color: $color-light-gray;

  &:hover {
    color: $color-dark-blue-1;
  }
}

.inputIconSize:hover {
  cursor: pointer;
}

.cardBody {
  width: 607px;
  height: 53px;
  border: 2.5px solid $color-light-blue-1;
  margin-bottom: 15px;
  display: flex;

  input[type='radio'] {
    margin: 6px 0px 0px 6px;
  }
}

.dropdownStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  border: 1px $color-light-blue-2 solid;
  color: $color-black;
  text-decoration: none;
  width: 331px;
  height: 53px;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.dropdownStyle:hover {
  color: $color-black !important;
}

.dropdownMenuStyle {
  width: 331px;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.choicesAlignment {
  color: $color-black;
  font-size: $font-size-md;
  margin: 0px 0px 0px 10px;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  border: none;
  background-color: transparent;
  height: 50px;
}

.choicesAlignment:focus {
  outline: none;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 0px 140px 100px 160px;
  align-items: center;
}

.loadingWord {
  margin-left: 10px;
}

.questionTypestyle {
  overflow: scroll;
  overflow-x: hidden;
  height: 80%;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-light-blue-1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-light-blue-2;
  }
}

.radioStyle {
  margin-top: 9px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
}

.questionTypeChoiceStyle {
  margin-top: 500px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.loadingWord {
  margin-left: 10px;
}

.message {
  margin: 230px 0px 0px 300px;
  font-weight: $font-weight-bold;
  font-size: $font-size-page-title;
}
