body{
  background-color: #F5F5F5;
}
.navbar {
    background-color: #002037;
    color: #E2DEC0;
}

#title {
    background-image: linear-gradient(90deg, #c4b230, #375218);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-size: 54px;
}

#Nav {
    margin-top: 20px;
    margin-right: 25px;
    font-size: 26px;
    color: #E2DEC0;
    padding: 8px;
}

#navbarScrollingDropdown {
    margin-left: .5rem;
    font-size: 26px;
    color: #E2DEC0;
}

.p-icon {
    width: 80px;
    border-radius: 100px;
    background-color: #E2DEC0;
    padding: 8px;
  }

  .dropdown-menu { 
    background-color: #002037;
    padding: 0.5rem;
    left: 34% !important;
    transform: translateX(-50%) !important;
    top: 105% !important;
  }
  
  .dropdown-item {
    font-size: 26px;
    color: #E2DEC0;
  }

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
  .card-header {
    background-color: #4B847B;
    color: white;
    height: 40px;
  
}
  
  .card {
    margin: 20px;
    height: 300px;
    width: 400px;
    
  }

  .card-content {
    background-color: rgba(34, 60, 119, 0.2);
    border-radius: 10px;
    padding:85px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}






.cont {
margin : center;
margin-top : 50px;
flex-direction: column;
justify-content: center;
background-color: #C9D4D3;
padding: 40px;
border-radius: 10px;
height: 650px;
width: 611px;
}
body{
    background-color: #E8E8E8;
}
.cent{
    margin-top: 50px;
    width: 530px;
    font-size: 30px;
    width: 447px;
    height: 48px;
    margin-left: 42px;

}
#btp{
    background-color: #719C96;
    border : none;
    margin-top : 40px;
}
a {
    text-decoration: none;
    color: black;
}

.cnb{
    margin-top: 20px;
}
.btns{
    width: 190px;
    height: 59px;
    font-size: 30px;
    margin-top: 15px;

}
.cntrs{
    width: 447px;
    height: 48px;
}

.cont {
    margin-top: 150px;
    margin-left: 100px;
    flex-direction: column;
    justify-content: center;
    background-color: #C9D4D3;
    padding: 40px;
    border-radius: 10px;
    height: 430px;
    width: 380px;
    }

    body{
        background-color: #E8E8E8;
    }

    .cont-ps {
        margin-top: 150px;
        margin-left: 100px;
        flex-direction: column;
        justify-content: center;
        background-color: #C9D4D3;
        padding: 40px;
        border-radius: 10px;
        height: 300px;
        width: 380px;
        }

    .cent {
        font-size: 18px;;
        width: 300px;
        margin-top: 20px;
    }


    .left{
        font-size: 16px;;
        width: 300px;
        margin-top: 20px;
    }

    #btp{
        background-color: #719C96;
        border : none;
        margin-top : 10px;
        padding: .5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    
    .cnb{
        margin-top: 15px;
    }

    .suggestion {
        font-size: 18px;
    }

body{
    background-color: lightgrey;
}
.bg{
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bg2{
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.cal{
    background-color:#4b847c9f;
    width: 30em;
    height: 59px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.cal_01{
    background-color:rgba(255, 255, 255, 0.767);
    width: 30em;
    height: 290px;
    padding-top: 50px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}
.cal1{
    background-color:#4b847c9f;
    width: 50em;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.cal_02{
    background-color:rgba(255, 255, 255, 0.774);
    width: 50em;
    height: 20em;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}
body{
    background-color: rgb(65, 54, 54);
}
.cal1{
    background-color:#4b847c9f;
    width: 570px;
    height: 57px;
    border-radius: 10px 10px 0px 0px;
}
.cal_02{
    background-color:white;
    width: 550px;
    height: 340px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
h6{
    display: inline-block;
    padding: 15px 8px 0px 10px;
}
.par_1{
    display: inline-block;
    padding: 15px 8px 0px 10px;
}
button{
    margin-left: 501px;
    border: none;
    border-radius: 5px;
    background-color: #218376b4;
    color: white;
    padding: 6px 30px 6px 30px;

}
.box_1{
    background-color: #1b326650;
    border-radius: 10px;
    width: 26em;
    height: 10em;
    margin: auto;
    padding: 10px;
}
.par_2{
    padding-top: 30px;
    font-size: 30px;
}
.cal_3{
    overflow-y: scroll;
    overflow-x: hidden;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
.partb{
    padding: 10px;
    text-align: right;
}
.s_h2{
    padding: 30px 0px 10px 30px;
    margin-top: 100px;
}

.s_par{
    display: inline-block;
    margin: 0px 0px 16px 33px;
}
.s_h3{
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 5px;
}
