.navbar {
    background-color: #002037;
    color: #E2DEC0;
}

#title {
    background-image: linear-gradient(90deg, #c4b230, #375218);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-size: 54px;
}

#Nav {
    margin-top: 20px;
    margin-right: 25px;
    font-size: 26px;
    color: #E2DEC0;
    padding: 8px;
}

#navbarScrollingDropdown {
    margin-left: .5rem;
    font-size: 26px;
    color: #E2DEC0;
}

.p-icon {
    width: 80px;
    border-radius: 100px;
    background-color: #E2DEC0;
    padding: 8px;
  }

  .dropdown-menu { 
    background-color: #002037;
    padding: 0.5rem;
    left: 34% !important;
    transform: translateX(-50%) !important;
    top: 105% !important;
  }
  
  .dropdown-item {
    font-size: 26px;
    color: #E2DEC0;
  }
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
  .card-header {
    background-color: #4B847B;
    color: white;
    height: 40px;
  
}
  
  .card {
    margin: 20px;
    height: 300px;
    width: 400px;
    
  }

  .card-content {
    background-color: rgba(34, 60, 119, 0.2);
    border-radius: 10px;
    padding:85px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}






