@use '../../../../styles/variables' as *;

@mixin flex($justify-value, $align-value, $direction, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-value;
  align-items: $align-value;
  gap: $gap;
}

.headerSection {
  height: 128px;
  margin: 0px;

  @include flex(center, none, column, 5px);
}

.title {
  font-weight: $font-weight-medium;
  font-size: $font-size-page-title-lg;
  margin: 0px;
}

.categoryConditionsStyle {
  margin-bottom: 45px;

  @include flex(flex-start, center, row, 50px);
}

.cardList {
  display: grid;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-columns: 400px 400px 400px;
}

.card {
  height: 217px;
  width: 400px;
}

#cardHeader {
  background-color: $color-light-blue-1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  position: relative;
  height: 167px;
  padding: 20px;
  width: auto;
  z-index: 1;
}

.cardTitle {
  font-size: $font-size-lg;
  color: $color-dark-blue-1;
  line-height: 21px;
}

.cardSubtitle {
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  line-height: 16px;
}

.cardContent {
  background-color: rgba(34, 60, 119, 0.2);
  border-radius: 10px;
  padding: 85px;
  margin: 10px;
}

.loading {
  margin-top: 300px;
  margin-bottom: 400px;

  @include flex(center, center, row, none);
}

.loadingWord {
  margin-left: 10px;
}

.noResultsMessage {
  margin: 220px 0px;

  @include flex(center, center, row, none);
}

.message {
  margin-left: 20px;
  font-size: $font-size-page-title;
}

#subTitle {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $color-dark-blue-3;
  margin-top: 3px;
}
