.cardList {
  display: grid;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 216px 216px 216px;
  height: 747px;
  width: 1518px;
}

#cardHeader {
  background-color: #E0EAEC;
  border-radius: 2px;
  width: 340.5px;
  height: 167px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  padding: 15px;
  font-size: 18px;
}

.card {
  height: 217px;
  width: 343px;
}

.cardContent {
  background-color: rgba(34, 60, 119, 0.2);
  border-radius: 10px;
  padding: 85px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  padding: 33px 0px; 
  font-weight: 500;
  font-size: 24px;
  margin: 0px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.loadingWord {
  margin-left: 10px;
}

.cardTitle {
  color: black;
}
.noResultsMessage {
  margin: 220px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  margin-left: 20px;
  font-size: 24px;
}

#TitleIcon{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.cardTitle{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.cardSubtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

#Subtitle{
  font-size: 12px;
  font-weight: 500;
  color: #5D9098;
}

#btcolor{
  color: #48535B;
}

#paginaPrevNext{
  margin-right: 5px;
  width: 80px;
  height: 32px;
  text-align: center;
  color: #48535B;
}

#paginateNum{
  width: 40px;
  height: 34px;
  text-align: center;
  margin-right: 5px;
  border-radius: 2px;
  color: #48535B;
}

