#log01 {
  background-color: var(--color-light-blue-1);
  padding: 46px;
  border-radius: 2px;
  width: 430px;
  color: var(--color-dark-blue-1);
}

.signintxts {
  margin-left: 137px;
  font-weight: var(--font-weight-regular);
  color: var(--color-dark-blue-1);
  margin-bottom: 15px;
}

#Btncolor {
  background-color: var(--color-light-blue-2);
  border-color: var(--color-light-blue-2);
  /* margin-bottom: 10px; */
  width: 85px;
  height: 32px;
  font-size: var(--font-size-base);
  color: var(--color-dark-blue-1);
  margin-top: 15px;
}

#Btncolor:hover {
  background-color: var(--color-light-blue-3);
  border-color: var(--color-light-blue-3);
  color: var(--color-white);
}

.sign {
  display: inline-block;
  padding-right: 10px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-light);
  color: var(--color-dark-blue-1);
  margin-top: 25px;
}

.fotgotPswrd {
  font-size: var(--font-size-base);
  color: var(--color-dark-blue-3);
  font-weight: var(--font-weight-regular);
}

input::placeholder {
  color: var(--color-red);
}
