@use '../../../../styles/variables' as *;

@mixin flex($justify-value, $align-value, $direction, $gap-value) {
  display: flex;
  align-items: $align-value;
  justify-content: $justify-value;
  flex-direction: $direction;
  gap: $gap-value;
}

.headerStyle{
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
}

#container {
  margin-top: 200px;
  color: $color-dark-blue-1;
}

#formCard {
  background-color: $color-light-blue-1;
  height: auto;
  width: 400px;
  padding: 30px 20px;

  @include flex(center, center, column, 25px);
}

.form {
  @include flex(center, center, column, 25px);
}

.alert {
  position: fixed;
  top: 100px;
  width: 400px;
}

.forgotPassword {
  font-size: $font-size-sm;
  color: $color-dark-blue-3;
  margin-top: 3px;
  cursor: pointer;
}

.noAccountMessage {
  padding-right: 10px;
  font-size: $font-size-md;
  font-weight: $font-weight-light;

  @include flex(none, none, row, 5px);
}

.signUpLink {
  font-size: $font-size-md;
  color: $color-dark-blue-3;
  text-decoration: none;
  cursor: pointer;
}
