#log01 {
  background-color: #E0EAEC;
  padding-left:48px;
  padding-right: 48px;
  border-radius: 2px;
  height: 396px;
  width: 430px;
  color : #48535B;
}

.sign {
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 300px;
  color : #48535B
}

.signup {
  margin-top: 30px;
  color : #48535B
}

#Btncolor {
  background-color: #C0D5D8;
  border-color: #C0D5D8;
  margin-bottom: 20px;
  width: 85px;
  height: 32px;
  font-size: 14px;
  color : #48535B;
  margin-top: 10px;
}

.alert {
  position: fixed;
  top: 100px;
  width: 611px;
  color : #48535B
}

input {
  width: 334px;
  height: 38px;
  color : #48535B;
}

.signintext{
  margin: 15px;
  margin-top: 38px;
  margin-left: 137px;
  font-weight: 400px;
  color : #48535B
}

.fotgotPswrd{
  font-size: 14px;
  color : #3F98A5;
  font-weight: 400px;
}

#Btncolor:hover{
  background-color: #9ABEC1;
  border-color: #9ABEC1;
  color: white;
}

.ContainerMT{
  margin-top: -900px;
}

.fotgotPswrdsize{
  font-size: 12px;
  color : #3F98A5;
  font-weight: 400px;
}

