#log01 {
  background-color: #e0eaec;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 2px;
  height: 396px;
  width: 430px;
  color: #48535b;
}

.error {
  border: 2px solid #e74c3c;
}

.valid {
  border: 1px solid #c0d5d8;
}

.sign {
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 300px;
  color: #48535b;
}

.signup {
  margin-top: 30px;
  color: #48535b;
}

#Btncolor {
  background-color: #c0d5d8;
  border-color: #c0d5d8;
  margin-bottom: 20px;
  width: 85px;
  height: 32px;
  font-size: 14px;
  color: #48535b;
  margin-top: 10px;
}

.alert {
  position: fixed;
  top: 100px;
  width: 611px;
  color: #48535b;
}

input {
  width: 334px;
  height: 38px;
  color: #48535b;
}

.signintext {
  margin: 15px;
  margin-top: 38px;
  margin-left: 137px;
  font-weight: 400px;
  color: #48535b;
}

.forgotPswrd {
  font-size: 14px;
  color: #3f98a5;
  font-weight: 400px;
}

#Btncolor:hover {
  background-color: #9abec1;
  border-color: #9abec1;
  color: white;
}

.ContainerMT {
  margin-top: -900px;
}

.forgotPswrdsize {
  font-size: 12px;
  color: #3f98a5;
  font-weight: 400px;
}
