@use '../../styles/variables' as *;

%hover-style {
  background-color: $color-light-blue-1;
  color: $color-dark-blue-1;
}

.defaultButton {
  background-color: $color-dark-blue-6;
  border-color: $color-dark-blue-6;
  color: $color-white;
  font-size: $font-size-md;
  height: 38px;
  padding: 0px;

  &.default {
    width: 172px;
  }

  &.small {
    width: 80px;
  }

  &.large {
    width: 240px;
  }

  &.outlineButton {
    background-color: $color-white;
    border-color: $color-light-blue-5;
    color: $color-dark-blue-1;
    font-size: $font-size-md;
    &:hover,
    &:focus {
      background-color: $color-white;
      border-color: $color-light-blue-5;
      color: $color-dark-blue-1;
    }
    &:disabled {
      background-color: $color-white-4;
      border-color: $color-light-blue-6;
      color: $color-dark-blue-1;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-light-blue-4;
    border-color: $color-light-blue-4;
    color: $color-white;
  }

  &:disabled {
    background-color: $color-light-blue-5;
    border-color: $color-light-blue-5;
    color: $color-white;
  }
}
