@use '../../../../styles/variables' as *;

.locationLabel {
  font-size: $font-size-lg;
  color: $color-dark-blue-1;
}

.categoryListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;

  font-weight: $font-weight-light;
  font-size: $font-size-md;
  color: $color-dark-blue-1;

  &:hover {
    background-color: $color-light-blue-1;
    color: $color-black;
    cursor: pointer;
  }
}

.arrowRightIcon {
  font-size: $font-size-lg;
  color: $color-dark-blue-1;

  &:hover {
    color: $color-black;
  }

  &:active {
    color: $color-dark-blue-3;
  }
}

.spinner {
  margin-top: 30px;
}
