.card {
  color: #48535B;
  background-color:#E0EAEC;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
  margin-bottom: 4px;
}
.card02 {
  color: #48535B;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 140px;
  padding-bottom: 14px 0px 14px 0px;

}

.cardTitle {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400px;
}

.card.fail {
  background-color: #fad3d3;
}

.card.fail:hover {
  background-color: #789e98;
  color: white;
}

.repeatDiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  color: #5D9098;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 0px;
  font-size: 16px;
}

.ResultscoreCardText {
  margin-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 308px;
}

.ResultScore {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 300;
}

.timeStyle{
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 5px
}
