@use '../../../../../../styles/variables' as *;

@use '../../../../../../styles/global-styles' as *;

.card {
  color: $color-dark-blue-1;
  background-color:$color-light-blue-1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  filter: drop-shadow($drop-shadow);
  margin-bottom: 4px;
}
.card02 {
  color: $color-dark-blue-1;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 140px;
  padding-bottom: 14px 0px 14px 0px;

}

.cardTitle {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
}

.toTruncate {
  @extend %to-truncated-title;
  width: 287px;
}

.card.fail {
  background-color: $color-white-5;
}

.card.fail:hover {
  background-color: $color-light-blue-7;
  color: $color-white;
}

.repeatDiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  color: $color-dark-blue-2;
  margin-bottom: 9px;
  font-weight: $font-weight-medium;
  margin-top: 0px;
  font-size: $font-size-base;
}

.ResultscoreCardText {
  margin-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 308px;
}

.ResultScore {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.timeStyle{
  display: flex;
  align-items: center;
  font-size: $font-size-sm;
  gap: 5px
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color : $color-black;
  gap: 10px
}

.loadingWord {
  color: $color-black;
  font-size: $font-size-base;
}
