.minutes {
  color: #469457;
  background-color: #c4c4c4;
  padding-left: 8px;
  padding-right: 8px;
}

.hbreakbottom {
  margin-top: 6.5rem;
  color: black;
}

.headerquiz {
  font-size: 72px;
  margin-bottom: 48px;
}

.button {
  background-color: #c0d5d8;
  font-size: 14px;
  border-color: #c0d5d8;
  color: #48535b;
  margin-top: 50px;
  float: right;
  margin-right: 50px;
  border-radius: 2px;
}

.button:hover {
  color: white;
  background-color: #9abec1;
  border-color: #9abec1;
}

.cardbody {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.card {
  width: 1312px;
  height: 730px;
  margin: 0px;
}

.wholebodycard {
  width: 548px;
  height: 300px;
}

.timeleft {
  width: 280px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin-left: 34rem;
}

.time {
  font-size: 30px;
  color: black;
  align-content: center;
  justify-content: center;
  margin-top: 0.2rem;
  font-weight: normal;
}

.prevbutton {
  margin-right: 1.5rem;
  margin-left: 35rem;
  width: 171px;
  height: 59px;
  font-size: 28px;
  border-color: rgba(75, 132, 123, 0.7);
}

.nextbutton {
  margin-right: 5rem;
  width: 171px;
  height: 59px;
  font-size: 28px;
  border-color: rgba(75, 132, 123, 0.7);
}

.numberofitems {
  font-size: 30px;
  margin-left: 2rem;
}

.topic {
  color: #48535b;
  justify-content: space-between;
  font-size: 18px;
  width: 548px;
  padding-left: 0px;
  padding-right: 60px;
}

#topicbg {
  background-color: #e0eaec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
}

.cardbody1 {
  height: 73px;
  width: 1209px;
  margin-top: 21px;
  padding: 15px;
}

.question {
  font-size: 30px;
}

input[type='radio'] {
  width: 90px;
  height: 30px;
}

.spanforanswer {
  color: black;
  padding-left: 50px;
}

#overview {
  font-size: 24px;
  color: #152536;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 60px;
}

.avatarresult {
  height: 30px;
  width: 2rem;
  float: right;
}

#answer2 {
  margin-top: 200px;
}

.avatarquestion {
  width: 380px;
  height: 220px;
  margin-left: 370px;
}
.answercard {
  width: 1312px;
  height: 780px;
  margin: 0px;
}

.trueanswer {
  margin-left: 50px;
}

.answercardnext {
  width: 1312px;
  height: 870px;
  margin: 0px;
}

.backarrow {
  color: #48535b;
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-bottom: 23px;
  display: inline;
  margin-left: 20px;
}

.topicspan {
  color: #48535b;
  font-weight: 400px;
}

.carsize {
  width: 548px;
  height: 350px;
  margin-top: 150px;
}
