.contentstyle {
  margin-top: 130px;
  margin-left: 64px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-light-blue-1);
  padding: 40px;
  border-radius: 2px;
  height: auto;
  width: 430px;
  color: var(--color-dark-blue-1);
}

.center {
  color: var(--color-dark-blue-1);
}

.left {
  font-size: var(--font-size-lg);
  width: 300px;
  margin-top: 20px;
  color: var(--color-dark-blue-1);
}

#button {
  background-color: var(--color-light-blue-2);
  border: none;
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--color-dark-blue-1);
  width: 171px;
  height: 32px;
}

#button:hover {
  background-color: var(--color-light-blue-3);
}

.textbutton {
  color: var(--color-dark-blue-1);
  font-size: var(--font-size-base);
}

.textbutton:hover {
  color: var(--color-white);
}

.cancel {
  text-decoration: none;
  color: var(--color-dark-blue-1);
  font-size: var(--font-size-base);
}

.cancel:hover {
  text-decoration: none;
  color: var(--color-white);
}

.suggestion {
  font-size: 18px;
}

.textmodal {
  font-size: var(--font-size-lg);
  color: #6c757d;
}

#modalcenter {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
}

#Containercentermargin {
  margin-top: 25px;
}

#Btncolor {
  background-color: var(--color-light-blue-2);
  border-color: var(--color-light-blue-2);
  margin-bottom: 20px;
  width: 85px;
  height: 32px;
  font-size: var(--font-size-base);
  color: var(--color-dark-blue-1);
  margin-top: 10px;
}

#Btncolor:hover {
  background-color: var(--color-light-blue-3);
  border-color: var(--color-light-blue-3);
  color: var(--color-white);
}

.title {
  margin-bottom: 45px;
}

.successMessageContainer {
  background-color: rgba(255, 255, 255, 0.692);
  padding: 25px;
  margin-bottom: 30px;
}

.backButton {
  color: var(--color-dark-blue-3);
}
