@use '../../../../../../styles/variables' as *;

.cardContainer {
  flex: 0;
  width: auto;
  padding-right: 0;
}

.card {
  width: 400px;
}

.cardHeader {
  color: $color-dark-blue-1;
  background-color: $color-light-blue-1;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
  margin-bottom: 4px;
  padding: 10px 20px;
}

.cardBody {
  color: $color-dark-blue-1;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 130px;
  padding: 20px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.titleHeader {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  color: $color-dark-blue-1;
}

.clockHeader {
  font-size: $font-size-sm;
  color: $color-dark-blue-1;
  margin-top: 5px;
}

.clockIcon {
  margin-top: 0px;
  margin-right: 3px;
  padding-bottom: 3px;
}

.titleHeader {
  font-weight: $font-weight-medium;
  color: $color-dark-blue-1;
  font-size: $font-size-lg;

  display: -webkit-box;
  max-width: 295px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.quizInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.quizResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.quizLink {
  width: auto;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  color: $color-dark-blue-2;

  &:hover {
    color: $color-dark-blue-3;
  }
}
