@use '../../../../styles/variables' as *;

%button-style {
  font-size: $font-size-md;
  color: $color-dark-blue-1;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.formTitle {
  font-weight: $font-weight-regular;
  font-size: $font-size-page-title;
}

.form {
  width: 400px;
  height: auto;
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  background-color: $color-light-blue-1;
  color: $color-dark-blue-1;
}

.inputLabel {
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
}

.validationMessage {
  width: 300px;
}
