@use '../../../../styles/variables' as *;

%input-field-style {
  border: 0;
  background-color: $color-white-2;
  font-size: $font-size-base;
}

.card {
  width: 1063px;
  display: inline-flex;
  margin-left: 8rem;
  height: auto;
  position: fixed;
  margin-top: 150px;
}

.header {
  color: #152536;
  font-size: $font-size-page-title;
  background-color: $color-light-blue-1;
  height: 50px;
  font-weight: $font-weight-semibold;
  display: flex;
  padding: 20px;
  align-items: center;
  box-shadow: $drop-shadow;
  gap: 380px;
}

.headerText {
  display: flex;
}

.backArrow {
  color: $color-dark-blue-1;
  width: 40px;
  height: 38px;
}

.cardBody {
  padding: 20px 50px;
}

.inputFieldContainer {
  width: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 2rem 0;
}

.inputLabel {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.openIcon {
  position: absolute;
  left: 50%;
  top: 24.6%;

  font-size: $font-size-lg;
  cursor: pointer;
}

.inputFieldTitle {
  width: 400px;

  @extend %input-field-style;

  &:focus {
    background-color: $color-white-2;
  }
}

.inputFieldDescription {
  height: 300px;
  max-height: 300px;

  @extend %input-field-style;

  &:focus {
    background-color: $color-white-2;
  }
}

.button {
  background-color: $color-light-blue-2;
  border: $color-light-blue-2;
  color: $color-dark-blue-1;
  font-size: $font-size-base;
  display: flex;
  float: right;
  height: 38px;
  width: 140px;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;

  &:hover,
  &:focus {
    background-color: $color-dark-blue-3;
    border: $color-light-blue-2;
    color: $color-white;
  }
}
