@use '../../../../styles/variables' as *;

@use '../../../../styles/global-styles' as *;

@mixin flex($justify-value, $align-value, $direction, $gap-value) {
  display: flex;
  align-items: $align-value;
  justify-content: $justify-value;
  flex-direction: $direction;
  gap: $gap-value;
}

%style-table-head {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

%style-table-body {
  border-bottom-width: 0px !important;
  font-size: $font-size-base;
  color: #152536;
  padding-top: 20px;
}

.mainCard {
  width: 100%;
  height: 745px;
}

.cardHeader {
  height: auto;
  padding: 12px 20px;
  box-shadow: $drop-shadow;
  background-color: $color-light-blue-1;

  @include flex(space-between, none, row, 0px);
}

.header {
  @include flex(space-between, center, row, 0px);
}

.title {
  margin: 0px;
  padding: 0px 0px 23px;
  font-weight: $font-weight-medium;
  font-size: $font-size-page-title;
}

.addButton {
  float: right;
  margin: 10px 0px 30px;
}

.cardBodyScroll {
  overflow-y: scroll;
  padding: 0px 30px 30px 30px;
}

#tableData {
  @extend %style-table-body;
  color: $color-dark-blue-1;

  &:nth-child(3) {
    height: 74px;
    padding-right: 88px;
    padding-left: 60px;
  }

  &:nth-child(4) {
    line-height: 2rem;
    max-height: 8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    // text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    padding-left: 50px;
  }
}

#actionButtonsColumn {
  width: 0px;
  padding-top: 10px;
  margin-left: 60px;

  @extend %style-table-body;
  @include flex(none, center, row, 11px);
}

.firstCol {
  @extend %style-table-head;

  &:nth-child(1) {
    width: 88px;
  }

  &:nth-child(2) {
    width: 123px;
  }

  &:nth-child(3) {
    width: 300px;
  }
}

#pagination {
  float: right;
}

.tableHeader {
  @extend %style-table-head;

  &:nth-child(1) {
    width: 77.2px;
  }

  &:nth-child(2) {
    width: 10px;
    text-align: center;
    padding-right: 225px;
  }

  &:nth-child(3) {
    width: 250px;
    padding-left: 60px;
  }

  &:nth-child(4) {
    width: 210px;
    padding-left: 50px;
  }
}
