@use '../../../../styles/variables' as *;

%style-table-head {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

%style-table-body {
  border-bottom-width: 0px !important;
  font-size: $font-size-base;
  color: #152536;
  padding-top: 20px;
}

.Bodystyle {
  display: inline-flex;
}

.categoryListContainer {
  position: absolute;
  left: 500px;
  top: 50px;
}

.navMaincard {
  width: 1288px;
  height: 700px;

  .navContainer {
    background: $color-light-blue-1;
  }
}

.title {
  padding: 33px 0px;
  font-weight: $font-weight-medium;
  font-size: $font-size-page-title;
  margin: 0px;
}

.categoryConditionsStyle {
  display: flex;
  gap: 720px;
}

.searchBar {
  height: 38px;
  width: 300px;
  margin: 3px 0px 3px 12px;
}

.searchButton {
  border: none;
  background-color: $color-white;
  display: hidden;
  position: absolute;
  left: 285px;
  top: 17px;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.dropdownStyle {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  border: 1px $color-white solid;
  color: $color-dark-blue-1;
  text-decoration: none;
  width: 200px;
  height: 38px;
  margin: 3px 0px 3px 12px;
}

.dropdownText {
  margin-right: 22px;
  font-size: $font-size-md;
}

.dropdownStyle:hover {
  color: $color-dark-blue-1;
}

.button {
  background-color: #c0d5d8;
  font-size: $font-size-md;
  color: $color-dark-blue-1;
  float: right;
  border: none;
  height: 38px;
  width: 172px;
  margin-right: 13px;
  border-radius: 2px;
  padding: 6px 18px;
}



.button:hover {
  color: $color-white;
  background-color: $color-light-blue-3;
  border-color: $color-light-blue-3;
}

.cardBodyScroll {
  overflow-y: scroll;
  padding: 30px;
}

#tBodyStyle {
  @extend %style-table-body;
  color: $color-dark-blue-1;

  &:nth-child(3) {
    padding-right: 88px;
    height: 74px;
  }
}

#tBodyStyle1 {
  @extend %style-table-body;
  text-align: center;
}

.firstCol {
  @extend %style-table-head;

  &:nth-child(1) {
    width: 88px;
  }

  &:nth-child(2) {
    width: 123px;
  }

  &:nth-child(3) {
    width: 300px;
  }
}

.firstCol1 {
  @extend %style-table-head;
  text-align: center;
  width: 88px;
}

.formatTable {
  width: 100%;
  margin-top: 63px;
}

#paginateStyle {
  display: inline-block !important;
}

.designButton {
  border: none;
  background: none;
}

.classCol {
  @extend %style-table-head;

  &:nth-child(1) {
    width: 153px;
  }

  &:nth-child(2) {
    width: 285px;
  }

  &:nth-child(3) {
    width: 517px;
  }

  &:nth-child(4) {
    width: 151px;
    text-align: center;
  }

  &:nth-child(5) {
    width: 151px;
    text-align: center;
  }
}


.headerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
