.bg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.forContainerBar {
  background-color: var(--color-light-blue-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 340.5px;
  height: 40px;
  color: var(--color-dark-blue-1);
}

.titleText {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  font-size: 18px;
}

.listTable {
  text-align: left;
  color: var(--color-dark-blue-1);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
}

.forSeccolum {
  padding: 10px;
  color: var(--color-dark-blue-1);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-base);
  text-align: right;
}

.forSeccolum2 {
  padding: 10px 0px;
  text-align: right;
  margin-top: 30px;
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-size-lg);
}

.retake {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-heavy);
  margin-left: 201px;
  color: var(--color-dark-blue-2);
}

#listTable {
  color: var(--color-dark-blue-1);
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-size-lg);
  text-align: left;
}
