$color-white: #ffffff;
$color-white-2: #f5f5f5;
$color-white-3: #fafafa;
$color-white-4: #f3f3f3;
$color-white-5: #fad3d3;;
$color-black: #000000;
$color-gray: #697582;
$color-light-gray: #b3b3b3;
$color-incorrect: rgb(112, 0, 0);
$color-correct: rgb(0, 102, 0);

$color-light-blue-1: #e0eaec;
$color-light-blue-2: #c0d5d8;
$color-light-blue-3: #9abec1;
$color-light-blue-4: #658286ad;
$color-light-blue-5: #658286a9;
$color-light-blue-6: #65828663;
$color-light-blue-7: #789e98;

$color-dark-blue-1: #48535b;
$color-dark-blue-2: #5d9098;
$color-dark-blue-3: #3f98a5;
$color-dark-blue-4: #002037;
$color-dark-blue-5: #152536;
$color-dark-blue-6: #658286;

$color-error: #e74c3c;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-page-title: 24px;
$font-size-page-title-base:30;
$font-size-page-title-lg: 32px;
$font-size-page-title-xl: 36px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$border-color-light: 2px solid #ced4da;

$border-color-black: black 1px solid;
$border-color-black-1: 1px solid #0000002d;
