
%to-truncated-title {
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
.cardContainer {
  position: absolute;
  height: 100%;
  width: calc(100% - 300px);
  left: 300px;
  padding: 60px 40px 60px;
}
