@import './_variables.css';

body {
  background-color: var(--color-white-2);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-control::placeholder{
  font-weight: var(--font-weight-light);
  color: var(--color-dark-blue-1);
  opacity: 50% ;
}
.dropdown-menu{
  min-width: 0px;
}
a{
  text-decoration: none;
}
