@use '../../../../styles/variables' as *;

.student {
  display: flex;
  justify-content: space-between;
  height: 400px;
  align-items: center;
}

.headerStyle{
  display: flex;
  align-items: center;
}

.biUserPosition {
  border: $border-color-black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.biUserPosition1 {
  border: $border-color-black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.studentInfo {
  margin-left: 40px;
}

.studentDetailsPosition {
  margin: 0px;
  display: block;
}

.studentDetailsPosition:nth-child(1)  {
  font-size: $font-size-page-title-lg;
  font-weight: $font-weight-medium;

}

.studentDetailsPosition:nth-child(2)  {
  font-size: $font-size-page-title;
  font-weight: $font-weight-regular;
}

.studentDetailsPositionFollowers {
  display: inline-block;
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
}

.totalQuizzesTaken {
  font-size: $font-size-page-title;
  margin-bottom: 10px;
  color: $color-dark-blue-1;
  margin-top: 55px;
}

.followUnfollowButton {
  width: 92px;
  height: 37px;
  background-color: $color-light-blue-2;
  border: none;
  color: $color-dark-blue-1;
  border-radius: 4px;
}

.followUnfollowButton:hover {
  color: $color-white;
  background-color: $color-light-blue-3;
}

.activityTables {
  display: flex;
  justify-content: space-between;
  color: $color-dark-blue-1;
  gap: 5px
}

.tableHeader {
  background-color: $color-light-blue-1;
  width: 630px;
  height: 40px;
  border-radius: 2px 2px 0px 0px;
  font-size: $font-size-lg;
  filter: drop-shadow($drop-shadow);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tableTitle {
  margin-left: 15px;
  font-size: $font-size-lg;
}

.tableBody {
  background-color: $color-white;
  width: 630px;
  border-radius: 0px 0px 10px 10px; 
  margin-bottom: 40px;
}

.activityInfoAlignment {
  display: flex;
}

.activityDescription {
  color: $color-dark-blue-1;
  margin-left: 20px;
  font-size: $font-size-base;
}

.activityInfo {
  margin-top: 20px;
  margin-left: 17px;
}

#timestamp {
  margin-top: 20px;
  margin-right: 17px;
  font-size: $font-size-md;
  order: 2;
  margin-left: auto;
}

.noActivityMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
}
