.student {
  display: flex;
  justify-content: space-between;
}

.headerStyle{
  display: flex;
  height: 250px;
  align-items: center;
}

.biUserPosition {
  border: black 1px solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.biUserPosition1 {
  border: black 1px solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.studentInfo {
  margin-left: 40px;
}

.studentDetailsPosition {
  margin: 0px;
  display: block;
}

.studentDetailsPosition:nth-child(1)  {
  font-size: 32px;
  font-weight: 500px;

}

.studentDetailsPosition:nth-child(2)  {
  font-size: 24px;
  font-weight: 400px;
}

.studentDetailsPositionFollowers {
  display: inline-block;
  font-size: 18px;
  font-weight: 400px;
}

.totalQuizzesTaken {
  font-size: 24px;
  margin-bottom: 10px;
  color: #48535b;
  margin-top: 55px;
}

.followUnfollowButton {
  width: 92px;
  height: 37px;
  margin-top: 90px;
  float: left;
  background-color: #c0d5d8;
  border: none;
  color: #48535b;
  border-radius: 4px;
}

.followUnfollowButton:hover {
  color: white;
  background-color: #9abec1;
}

.buttonAlignment {
  width: 250px;
  display: flex;
  justify-content: flex-end;
}

.activityTables {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: #48535b;
  gap: 5px
}

.tableHeader {
  background-color: #e0eaec;
  width: 650px;
  height: 40px;
  border-radius: 2px 2px 0px 0px;
  font-size: 18px;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tableTitle {
  margin-left: 15px;
  font-size: 18px;
}

.tableBody {
  background-color: white;
  width: 650px;
  height: 330px;
  border-radius: 0px 0px 10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.activityInfoAlignment {
  display: flex;
}

.activityDescription {
  color: #48535b;
  margin-left: 20px;
  font-size: 16px;
}

.activityInfo {
  margin-top: 20px;
  margin-left: 17px;
}

#timestamp {
  margin-top: 20px;
  margin-right: 17px;
  font-size: 14px;
  order: 2;
  margin-left: auto;
}

.noActivityMessage {
  margin-top: 130px;
}
