@use '../../../../styles/variables' as *;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  position: absolute;
  height: 100%;
  width: calc(100% - 300px);
  left: 300px;

  @extend %flex-center;
}

.card {
  min-width: 380px;
  min-height: 400px;
  padding: 40px;
  background-color: $color-light-blue-1;
}

.headingText {
  font-size: $font-size-page-title;
  color: $color-dark-blue-1;

  @extend %flex-center;
}

.inputLabels {
  margin-bottom: 0px;
  color: $color-dark-blue-1;
  font-size: $font-size-base;
}

.formButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.cancel {
  text-decoration: none;
  vertical-align: middle;
  color: $color-dark-blue-1;
  font-size: $font-size-md;

  &:hover {
    color: $color-dark-blue-3;
  }
}

.alert {
  position: absolute;
  top: 180px;
  left: center;
}

.spinner {
  margin-top: 120px;
  gap: 15px;

  @extend %flex-center;
}
