@use '../../styles/variables' as *;

%hover-style {
  background-color: $color-light-blue-1;
  color: $color-dark-blue-1;
}

%dropdown-menu-style {
  width: auto;
  border: 1px $color-light-blue-1 solid;
}

.dropdownButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;

  background-color: $color-white;
  color: $color-dark-blue-1;
  font-size: $font-size-md;
  border: none;
  height: 38px;
  width: 215px;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-dark-blue-1;
  }
}

.dropdownMenuScrollable {
  height: 300px;

  @extend %dropdown-menu-style;

  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }
}

.dropdownMenu {
  @extend %dropdown-menu-style;
}

.dropdownItems {
  color: $color-dark-blue-1;

  &:hover,
  &:focus {
    @extend %hover-style;
  }
}

.activeItem {
  @extend %hover-style;
}
