@use '../../styles/global-styles' as *;
@use '../../styles/variables' as *;

.lg {
    width: 400px;
    height: 42px;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    border: 2px $color-light-blue-1 solid;
}

.md {
    width: 300px;
    height: 38px;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    border: 2px $color-light-blue-1 solid;
}

.sm {
    width: 200px;
    height: 30px;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    border: 2px $color-light-blue-1 solid;
}
