.center {
  margin-left: 20px;
  margin-top: 50px;
}

.paragraph {
  padding: 10px;
}

.hrBreak {
  margin: 10px 0px 0px 0px;
}

.wholeBodyCard {
  padding: 20px 50px;
  width: 500px;
  background-color: white;
}
.question {
  font-size: 16px;
}

.tml {
  width: 130px;
  height: 32px;
  color: black;
  display: flex;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 320px;
}

.timeleftspace {
  margin-right: 5px;
  color: #48535b;
}

.time {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  background-color: white;
  border-radius: 2px;
}

.timer {
  color: #72a085;
  background-color: #f5f5f5;

  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 2px;
}

.cardbody1 {
  height: 40px;
  width: 400px;
  margin-top: 20px;
  padding: 5px 15px;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.radio[disabled] {
  background-color: #2b2525;
}

.spanAnswer {
  color: black;
  margin-left: 20px;
  padding: 0px;
  margin-bottom: 0px;
}

.spanAnswer2 {
  color: black;
  margin-left: 20px;
  padding: 0px;
}

.sizeOfAvatarInResult {
  height: 20px;
  margin-left: 50px;
}

#inputResult {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.upperBodyCard {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bottomBodyCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numItems {
  font-size: 16px;
}

.score {
  font-size: 14px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 22px;
  border-radius: 2px;
}

.scorebg {
  margin-right: 10px;
  margin-bottom: 0px;
}

.backarrow {
  color: #48535b;
  width: 40px;
  height: 40px;
  display: inline;
  margin-right: 50px;
}

.topicspan {
  color: #48535b;
  font-weight: bold;
  padding: 5px;
}

.topic {
  color: #48535b;
  justify-content: space-between;
  font-size: 24px;
  width: 500px;
  padding-left: 0px;
}

#topicbg {
  background-color: #e0eaec;
  align-items: center;
  padding: 0px;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
}

.button {
  width: 80px;
  height: 32px;
  font-size: 14px;
  background-color: #c0d5d8;
  border-color: #c0d5d8;
  margin-right: 1rem;
}

.button:hover {
  width: 80px;
  height: 32px;
  font-size: 14px;
  background-color: #9abec1;
  border-color: #9abec1;
}
