@use '../../../../styles/variables' as *;

@mixin button-style($background-color, $width, $height) {
  background-color: $background-color;
  color: $color-dark-blue-1;
  font-size: $font-size-md;
  border: none;
  height: $height;
  width: $width;
}

@mixin flex($justify-value, $align-value, $direction, $gap-value) {
  display: flex;
  align-items: $align-value;
  justify-content: $justify-value;
  flex-direction: $direction;
  gap: $gap-value;
}

.pageTitle {
  font-weight: $font-weight-medium;
  font-size: $font-size-page-title-lg;
  height: 102px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.cardHeader {
  background-color: $color-light-blue-1;
  height: 50px;
  box-shadow: $drop-shadow;

  @include flex(space-between, none, row, 0px);
}

.cardBody {
  min-height: 745px;
  padding: 0px 30px 10px 30px;
}

.tableHeader {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;

  &:first-child {
    width: 220px;
  }

  &:nth-child(2) {
    width: 230px;
    text-align: center;
  }

  &:nth-child(3) {
    width: 270px;
  }
}

.tableDataRow {
  font-size: $font-size-base;
  color: $color-dark-blue-1;

  &:first-child {
    padding-top: 100px !important;
  }
}

.tableData {
  border-bottom-width: 0px !important;

  &:nth-child(2) {
    text-align: center;
  }

  &:last-child {
    text-align: justify;
  }
}

.tableDataRow > .tableData {
  padding-top: 30px;
}

.pagination {
  float: right;
  margin-top: 33px;
  padding-bottom: 20px;
}
