@use '../../../../../../styles/variables' as *;

#cardsContainer {
  margin-bottom: 40px;
}

.card {
  width: 639px;
  min-height: 475px;
  margin-bottom: 40px;
}

.cardHeader {
  position: relative;
  z-index: 1;
  background-color: $color-light-blue-1;
  box-shadow: $drop-shadow;
  height: 47px;
  color: $color-dark-blue-1;
  display: flex;
  align-items: center;
}

.cardTitle {
  display: inline-block;
  font-weight: $font-weight-medium;
  font-size: $font-size-lg;
}

.friendActivityCardBody {
  display: flex;
  justify-content: space-between;
}

.activityIcon {
  margin: 0px 17px 5px 0px;
  width: 20px;
  height: 20px;
}

.friendActivity {
  color: $color-dark-blue-1;
  font-weight: $font-weight-regular;
}

.activityDescription {
  height: 35px;
  cursor: default;
  font-size: $font-size-base;

  display: -webkit-box;
  max-width: 470px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.timestamp {
  color: $color-dark-blue-1;
  font-size: $font-size-md;
  text-align: end;
}
