@use '../../../../../../styles/variables' as *;

#cardsContainer {
  margin-bottom: 40px;
}

.card {
  width: 639px;
  min-height: 475px;
  margin-bottom: 40px;
}

.cardHeader {
  position: relative;
  z-index: 1;
  background-color: $color-light-blue-1;
  box-shadow: $drop-shadow;
  height: 47px;
  color: $color-dark-blue-1;
  display: flex;
  align-items: center;
}

.cardTitle {
  display: inline-block;
  font-weight: $font-weight-medium;
  font-size: $font-size-lg;
}

.friendActivityCardBody {
  display: flex;
  justify-content: space-between;
}

.activityIcon {
  margin: 0px 17px 5px 0px;
  width: 20px;
  height: 20px;
}

.friendActivity {
  color: $color-dark-blue-1;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  padding: 10px;
}

.friendActivityTimestamp {
  color: $color-dark-blue-1;
  font-size: $font-size-md;
  display: flex;
  align-items: center;
}
