.forContainerBar2{
    position: relative;
    z-index: 1;
    background-color: var(--color-light-blue-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 47px;
    color: var(--color-dark-blue-1);
}

.forContent_box{
    height: 366px;
    background-color: var(--color-white);
}

.titleText{
    display: inline-block;
    font-weight: var(--font-weight-medium);
    font-size: 18px;
}

.forScroll {
  overflow: auto;
}

.forSeccolum {
  padding: 10px;
  color: var(--color-dark-blue-1);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-base);
  text-align: right;
}

.listTable {
  color: var(--color-dark-blue-1);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  padding: 0px;
}

.tableIcon {
  margin: 0px 17px 5px 0px;
  width: 20px;
  height: 20px;
}
