.HeadingText{
    margin-left: 85px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #48535B;
}
.changepassbutton{
    margin-left: 128px;
    background-color: #C0D5D8;
    border-color: #C0D5D8;
    color: #48535B;
}
.changepassbutton:hover{
    background-color: #9ABEC1;
    border-color: #9ABEC1;
    color:white
}

.cancel{
    margin-top: 20px;
    margin-left: 143px;
    text-decoration: none;
    display: inline-block;
    color: #48535B  ;
    font-size: 14px;
}