.HeadingText{
    margin-left: 85px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #48535B;
}
.changepassbutton{
    float: right;
    background-color: #C0D5D8;
    border-color: #C0D5D8;
    color: #48535B;
    width: 85px;
    height: 32px;
}
.changepassbutton:hover{
    background-color: #9ABEC1;
    border-color: #9ABEC1;
    color:white
}

.changepassbutton:focus{
    background-color: #9ABEC1;
    border-color: #9ABEC1;
    color:white;
    border: none;
}

.cancel{
    float: right;
    margin-top: 6px;
    margin-right: 11px;
    text-decoration: none;
    color: #48535B  ;
    font-size: 14px;
}

.cancel:hover{
    border-color: #9ABEC1;
    color:white
}

.allertstyle{
    position: absolute;
    top: 180px;
    left: center;
}
