@use '../../../../styles/variables' as *;

.card {
  margin: 52px 0px 20px 0px;
}

.resultTopic {
  margin: 0;
  padding: 10px;
  text-align: center;
  justify-content: center;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  z-index: 1;
  background-color: $color-light-blue-1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 674px;
  height: 50px;
  color: $color-dark-blue-1;
}

.resultWholeBodyCard {
  height: 424px;
  width: 674px;
  padding: 10px 40px;
  background-color: $color-white;
}

.resultUpperBodyCard {
  display: flex;
  justify-content: center;
}

.resultsButtons {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.resultCardLeft {
  justify-content: center;
  display: flex;
  width: 424px;
  padding: 20px;
}

.resultScoreDisplay {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultQuizPraise {
  font-size: $font-size-page-title;
  margin-bottom: 20px;
  color: #48535b;
}

.resultQuizRemarks {
  font-weight: $font-weight-bold;
  font-size: 36px;
  margin-bottom: 20px;
  color: $color-dark-blue-1;
}

.resultScore {
  font-size: 72px;
}

.pass {
  color: $color-correct;
}

.fail {
  color: $color-error;
}

.friendsScoreCard {
  border: 1px solid rgba(0, 0, 0, 0.164);
  width: 225px;
  height: 272px;
  border-radius: 5px;
  margin-top: 15px;
}

.friendsScoreHeader {
  padding: 0px;
  margin: auto;
  border-bottom: none;
  text-align: center;
  font-size: $font-size-lg;
  background-color: $color-white;
}

.friendScoreText {
  margin: 8px 0px;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
}

.divider {
  width: 180px;
  margin: 0px;
}

.friendsScoreCardBody {
  padding: 0px 15px;
}

.friendsScore {
  margin-left: auto;
  font-size: 16px;
  color: $color-dark-blue-1;
}

.friendsScoreInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.friendsAvatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

.friendsName {
  padding: 10px 10px 10px 5px;
  font-size: 16px;
  color: $color-dark-blue-1;

  &:hover {
    color: $color-black;
  }
}

.relatedQuizzesText {
  padding: 33px 0px;
}

.relatedQuizzes {
  display: flex;
  column-gap: 50px;
  margin-bottom: 33px;
}
