.card {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.bg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.h2_style {
  padding: 33px 0px 33px 0px;
}

.Resultparagraph {
  font-size: 16px;
  margin: 0;
  padding: 10px;
  justify-content: center;
}

.ResulthrBreakBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.ResulthrBreak {
  margin: 10px 0px 0px 0px;
  color: rgba(0, 0, 0, 0.5);
}

.ResultwholeBodyCard {
  height: 424px;
  width: 674px;
  background-color: white;
}

.Resulttml {
  width: 333px;
  height: 69px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Resulttimer {
  padding: 13px;
  color: #c30101;
  opacity: 50%;
  background-color: #c4c4c4;
}

.ResultupperBodyCard {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.ResultcardLeft {
  justify-content: center;
  display: flex;
  width: 424px;
  padding: 20px;
}

.ResultscoreDisplay {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResultquizPraise {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 20px;
  color: #48535b;
}

.ResultquizRemarks {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  color: #48535b;
}

.Resultscore {
  font-size: 72px;
}

#ResultviewResultBtn {
  font-size: 14px;
  margin-right: 1rem;
  justify-content: end;
  width: 120px;
  height: 36px;
  border-radius: 0px;
  background-color: #c0d5d8;
  border-color: #c0d5d8;
  color: black;
}

#ResultviewResultBtn:hover {
  background-color: #9abec1;
  color: white;
}

.Resultcard2 {
  min-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.336);
  width: 225px;
  height: 272px;
}

.ResultfriendScore {
  display: flex;
  margin-bottom: 20px;
  font-size: 28px;
}

.ResultbottomBodyCard {
  height: 85px;
  display: flex;
  justify-content: end;
  align-items: center;
}

#ResultretakeBtn {
  width: 120px;
  height: 36px;
  justify-content: end;
  border-radius: 0px;
  background-color: #c0d5d8;
  border-color: #c0d5d8;
  color: black;
  font-size: 14px;
}

#ResultretakeBtn:hover {
  background-color: #9abec1;
  color: white;
}

.ResultnumItems {
  font-size: 30px;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.Resulttopic {
  margin: 0;
  padding: 10px;
  text-align: center;
  justify-content: center;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
  background-color: #e0eaec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 674px;
  height: 50px;
  color: #48535b;
}

span {
  color: green;
}

.ResultrelatedQuizzes {
  font-size: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ResultfooterCard {
  width: 1296px;
  height: 193px;
  margin-right: 2rem;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 10%);
  border-radius: 15px;
}

.Resultfooter {
  padding-top: 28px;
  display: center;
}

.ResultfooterCardContainer:hover {
  background-color: rgb(121, 163, 156);
}

.ResultsizeOfAvatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.ResultsizeOfAvatarFooter {
  height: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.spanForTimeLeft {
  color: black;
  font-weight: 400;
  margin-top: 15px;
}
