.card {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.relatedQuizzes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.relatedQuizzesText {
  padding: 33px 30px;
}

.resultWholeBodyCard {
  height: 424px;
  width: 674px;
  background-color: var(--color-white);
}

.resultUpperBodyCard {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.resultCardLeft {
  justify-content: center;
  display: flex;
  width: 424px;
  padding: 20px;
}

.resultScoreDisplay {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultQuizPraise {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--color-dark-blue-1);
}

.resultQuizRemarks {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--color-dark-blue-1);
}

.resultScore {
  font-size: 72px;
}

#viewResultsButton {
  font-size: var(--font-size-base);
  margin-right: 1rem;
  width: 120px;
  height: 36px;
  border-radius: 0px;
  background-color: var(--color-light-blue-2);
  border-color: var(--color-light-blue-2);
  color: var(--color-black);
}

#viewResultsButton:hover {
  background-color: var(--color-light-blue-3);
  color: var(--color-white);
}

.friendsTitle {
  display: flex;
  justify-content: center;
  font-size: 18px;
  background-color: var(--color-white);
  border-bottom: none;
  display: inline-block;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.friendsScore {
  margin-left: auto;
  font-size: var(--font-size-lg);
  color: var(--color-dark-blue-1);
}

.friendsName {
  padding: 10px 10px 10px 5px;
  font-size: var(--font-size-lg);
  color: var(--color-dark-blue-1);
}

.friendsName:hover {
  color: var(--color-black);
}

.friendsScoreCard {
  border: 1px solid rgba(0, 0, 0, 0.164);
  width: 225px;
  height: 272px;
  border-radius: 5px;
}

.resultsCardDivider {
  margin-top: 25px;
}

.resultsButtons {
  height: 65px;
  display: flex;
  justify-content: end;
  align-items: center;
}

#retakeButton {
  width: 120px;
  height: 36px;
  justify-content: end;
  border-radius: 0px;
  background-color: var(--color-light-blue-2);
  border-color: var(--color-light-blue-2);
  color: var(--color-black);
  font-size: var(--font-size-base);
}

#retakeButton:hover {
  background-color: var(--color-light-blue-3);
  color: var(--color-white);
}

.pass {
  color: green;
}

.fail {
  color: var(--color-red);
}

.resultTopic {
  margin: 0;
  padding: 10px;
  text-align: center;
  justify-content: center;
  filter: drop-shadow(0 1mm 1mm var(--color-dark-blue-1));
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
  background-color: var(--color-light-blue-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 674px;
  height: 50px;
  color: var(--color-dark-blue-1);
}

.friendsAvatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

.friendsScoreCardBody {
  padding: 0px 15px;
}

.divider {
  width: 200px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.friendsScoreText {
  margin-left: 45px;
}

.friendsScoreInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
