.navbar {
    background-color: #002037;
    color: #E2DEC0;
}

#title {
    background-image: linear-gradient(90deg, #c4b230, #375218);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-size: 54px;
}

#Nav {
    margin-top: 20px;
    margin-right: 25px;
    font-size: 26px;
    color: #E2DEC0;
    padding: 8px;
}

#navbarScrollingDropdown {
    margin-left: .5rem;
    font-size: 26px;
    color: #E2DEC0;
}

.p-icon {
    width: 80px;
    border-radius: 100px;
    background-color: #E2DEC0;
    padding: 8px;
  }

  .dropdown-menu { 
    background-color: #002037;
    padding: 0.5rem;
    left: 34% !important;
    transform: translateX(-50%) !important;
    top: 105% !important;
  }
  
  .dropdown-item {
    font-size: 26px;
    color: #E2DEC0;
  }
.cont {
margin-top : 20px;
margin-left: 352px;
margin-bottom: 20px;
flex-direction: column;
justify-content: center;
background-color: #C9D4D3;
padding: 20px 40px;
border-radius: 10px;
height: 630px;
width: 611px;
}

.cent{
    margin-top: 50px;
    width: 530px;
    font-size: 30px;
    width: 447px;
    height: 48px;
    margin-left: 42px;

}
#btp{
    background-color: #719C96;
    border : none;
    margin-top : 40px;
}

.cnb{
    margin-top: 20px;
    color:black;
}
.cnb:hover{
    color: white;
}
.btns{
    width: 190px;
    height: 59px;
    font-size: 30px;
    margin-top: 15px;

}
.cntrs{
    width: 447px;
    height: 48px;
}
