
.contentstyle {
    margin-top: 100px;
    margin-left: 64px;
    background-color: #E0EAEC;
    padding: 46px;
    border-radius: 2px;
    height: fixed;
    width: 430px;
    color : #48535B;
    }

.left{
    font-size: 16px;
    margin-top: 25px;
    color : #48535B;
}
.right{
    font-size: 16px;
}

#button{
    background-color: #C0D5D8;
    border-color: #C0D5D8;
    width: 85px;
    height: 32px;
    font-size: 14px;
    margin-top: 5px;
    color : #48535B;
}

#button:hover {
    background-color: #9ABEC1;
    border-color: #9ABEC1;
    color: white;
}


.cancel{
    margin-top: 15px;
    text-decoration: none;
    color: black;
}

.suggestion {
    font-size: 14px;
    color: #6C757D;
    margin-top: 30px;
}

.alertNewPassword {
    position: fixed;
    top: 100px;
    width: 611px;
    height: 50px;
    margin-left: 343px;
  }