
.contentstyle {
    margin-top: 100px;
    margin-left: 64px;
    background-color: var(--color-light-blue-1);
    padding: 46px;
    border-radius: 2px;
    height: fixed;
    width: 430px;
    color : var(--color-dark-blue-1);
    }

.left{
    font-size: var(--font-size-lg);
    margin-top: 25px;
    color : var(--color-dark-blue-1);
}
.right{
    font-size: var(--font-size-lg);
}

#button{
    background-color: var(--color-light-blue-2);
    border-color: var(--color-light-blue-2);
    width: 85px;
    height: 32px;
    font-size: var(--font-size-base);
    margin-top: 5px;
    color : var(--color-dark-blue-1);
}

#button:hover {
    background-color: var(--color-light-blue-3);
    border-color: var(--color-light-blue-3);
    color: var(--color-white);
}


.cancel{
    margin-top: 15px;
    text-decoration: none;
    color: var(--color-black);
}

.suggestion {
    font-size: var(--font-size-base);
    color: #6C757D;
    margin-top: 30px;
}

.alertNewPassword {
    position: fixed;
    top: 100px;
    width: 611px;
    height: 50px;
    margin-left: 343px;
  }