@use '../../../../../styles/variables' as *;

.card {
  width: 800px;
  margin-top: 130px;
}

#cardHeader {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-light-blue-1;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
}

.topic {
  width: 100%;
  color: $color-dark-blue-1;
  font-size: $font-size-page-title;
  font-weight: $font-weight-semibold;
}

.backButton {
  width: 40px;
  height: 40px;
  margin-top: 23px;
  margin-bottom: 23px;
  color: $color-dark-blue-1;
}

.cardBody {
  padding: 30px 50px;
  width: 800px;
}

.timer {
  width: 150px;
  height: 32px;
  color: $color-dark-blue-1;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.time {
  color: #72a085;
  background-color: $color-white-2;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 2px;
  margin-left: 5px;
}

.timeLimit {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  font-size: $font-size-md;
  background-color: $color-white;
}

.spacing {
  margin: 30px 0px 25px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numItems {
  font-size: $font-size-base;
  margin: 0px;
}

.choicesContainer {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid $color-light-blue-1;
  margin-bottom: 15px;
}

.question {
  font-size: $font-size-lg;
  margin: 70px 0px 20px;
}

.answerInput {
  height: 42px;
}

.choices {
  color: $color-dark-blue-1;
  font-size: $font-size-base;
  font-weight: $font-weight-light;
  margin-left: 20px;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  width: 619px;
}
