.hrBreak {
  margin: 10px 0px 0px 0px;
}

.wholeBodyCard {
  padding: 20px 50px;
  width: 500px;
  background-color: white;
}

.question {
  font-size: 16px;
}

.tml {
  width: 150px;
  height: 32px;
  color: #48535b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  float: right;
  margin-top: 10px;
}

.timer {
  color: #72a085;
  background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 2px;
}

.time {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  background-color: white;
  border-radius: 2px;
}

.timeleftspace {
  margin-right: 5px;
  color: #48535b;
}

.spacing {
  margin-top: 30px;
}

.cardbody1 {
  margin-top: 10px;
  padding: 15px;
  border-radius: 2px;
}

.cardbody2 {
  width: 400px;
  margin-top: 55px;
  margin-bottom: 30px;
  padding: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: 2px solid #e0eaec;
  border-radius: 2px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.219);
}

.spanForAnswer {
  color: #48535b;
  margin-left: 20px;
}

.upperBodyCard {
  margin-top: 10px;
}

.bottomBodyCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numItems {
  font-size: 16px;
}

#nextBtn {
  width: 80px;
  height: 32px;
  font-size: 14px;
  background-color: #c0d5d8;
  border-color: #c0d5d8;
}

#nextBtn:hover {
  width: 80px;
  height: 32px;
  font-size: 14px;
  background-color: #9abec1;
  border-color: #9abec1;
}

#prevBtn {
  width: 80px;
  height: 32px;
  font-size: 14px;
  background-color: #c0d5d8;
  border-color: #c0d5d8;
  margin-left: 47rem;
}

#prevBtn:hover {
  width: 80px;
  height: 32px;
  font-size: 14px;
  background-color: #9abec1;
  border-color: #9abec1;
}

.buttontext {
  color: #48535b;
}

.buttontext:hover {
  color: white;
}

#answer2 {
  margin-top: 200px;
}

#answer3 {
  margin-top: 300px;
}

.score {
  font-size: 40px;
}

.numItems {
  font-size: 16px;
}

.Answertopic {
  color: #48535b;
  background-color: #e0eaec;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  align-items: center;
  padding: 50px;
  width: 500px;
}

.paragraph {
  font-size: 18px;
  padding-top: 70px;
  margin-bottom: 20px;
}

.backarrow {
  color: #48535b;
  width: 30px;
  height: 30px;
  margin-top: 23px;
  margin-bottom: 23px;
  display: inline;
  margin-left: 20px;
}

.topic {
  color: #48535b;
  justify-content: space-between;
  font-size: 24px;
  width: 548px;
  padding-left: 0px;
  padding-right: 70px;
}

.topicspan {
  color: #48535b;
  font-weight: bold;
  width: 600px;
  padding-right: 210px;
}

#topicbg {
  background-color: #e0eaec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  filter: drop-shadow(0 1mm 1mm #48535b8c);
}

.cardstyle {
  width: 500px;
  /* height: 50px; */
}

.radiosize::-webkit-input-radio {
  width: 10px;
  height: 10px;
}

.input-radio {
  width: 2px;
  height: 2px;
}
