@use '../../../../styles/variables' as *;

.quizContainer {
  width: 926px;
  height: 800px;
  padding: 50px;

  position: absolute;
  left: 650px;
  top: 90px;

  background: $color-white;
  border-radius: 2px;
  border: 1px solid $color-light-blue-1;
  color: $color-dark-blue-1;

  overflow: scroll;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-light-blue-1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-light-blue-2;
  }
}

.backButton {
  cursor: pointer;
  font-size: 27px;
  color: #48535B;

  &:hover {
    color: rgba(0, 0, 0, 0.795);
  }
}

.quizTitle {
  font-size: $font-size-page-title;
  font-weight: $font-weight-semibold;
}

.editButton {
  width: 120px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  color: $color-dark-blue-1;
  border-radius: 2px;
  border-color: $color-light-blue-2;
  background-color: $color-light-blue-2;

  &:hover {
    color: $color-white;
    border-color: $color-dark-blue-3;
    background-color: $color-dark-blue-3;
  }
}

.questionText {
  font-size: $font-size-lg;
  font-weight: $font-weight-regular;
  margin-bottom: 20px;
}
