.title {
  font-size: 36px;
  margin: 25px 0px;
}

.container {
  padding: 10px 0px;
}

.backButton {
  width: 171px;
  height: 59px;
  background-color: #789e98;
  border-color: #789e98;
  font-size: 30px;
  border-radius: 7px;
}

.backButton:hover {
  background-color: #002037;
  color: white;
}


.loading {
  margin: 220px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingWord {
  margin-left: 20px;
  color: black;
  font-size: 36px;
}

.noResultsMessage {
  margin: 220px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  margin-left: 20px;
  font-size: 24px;
}
