@use '../../../../styles/variables' as *;

.title {
  font-size: $font-size-page-title-lg;
  font-weight: $font-weight-medium;
  color: $color-dark-blue-1;
  margin: 0px;
}

.backButton {
  width: 171px;
  height: 59px;
  background-color: $color-light-blue-7;
  border-color: $color-light-blue-7;
  font-size: $font-size-page-title-base;
  border-radius: 7px;
}

.backButton:hover {
  background-color: $color-dark-blue-4;
  color: $color-white;
}

#GridCard {
  display: grid;
  grid-column-gap: 46px;
  grid-row-gap: 48px;
  grid-template-columns: 339px 339px 339px 339px;
  grid-template-rows: 216px 216px 216px;
  height: 747px;
  width: 1518px;
}

.loading {
  margin: 220px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingWord {
  margin-left: 20px;
  color: $color-black;
  font-size: $font-size-page-title-xl;
}

.noResultsMessage {
  margin: 220px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  margin-left: 20px;
  font-size: $font-size-page-title;
}

.backArrow {
  color: $color-dark-blue-1;
  width: 50px;
  height: 50px;
}

.headerStyle{
  display: flex;
  align-items: center;
  height: 102px;
  gap: 10px
}
