.listTable{
    text-align: left;
    color: var(--color-dark-blue-1);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-lg);
}

.forSeccolum{
    padding: 10px;
    color: var(--color-dark-blue-1);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-base);
    text-align: right;
}
