@use '../../../../styles/variables' as *;

.formTitle {
  font-weight: $font-weight-regular;
  font-size: $font-size-page-title;
}

.container {
  position: absolute;
  height: 100%;
  width: calc(100% - 300px);
  left: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  height: auto;
  padding: 30px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  background-color: $color-light-blue-1;
  color: $color-dark-blue-1;
}

.inputLabel {
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
}

.validationMessage {
  width: 300px;
}

.cancelButton {
  font-size: $font-size-md;
  color: $color-dark-blue-1;

  &:hover,
  &:focus {
    color: $color-black;
  }
}
