.subTile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 33px 0px; 
  font-weight: 500;
  font-size: 24px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.loadingWord {
  margin-left: 10px;
}
.cardList{
  display: grid;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-columns: 342px 342px 342px 342px;
  grid-template-rows: 216px 216px 216px;
  height: 747px;
  width: 1518px;
}

#paginaPrevNext{
  margin-right: 5px;
  width: 80px;
  height: 32px;
  text-align: center;
}

#btcolor{
  color: #48535B;
}

#paginateNum{
  width: 40px;
  height: 34px;
  text-align: center;
  margin-right: 5px;
  border-radius: 2px;
}
#BckIcon{
  margin-right: 10px;
}