@use '../../../../styles/variables' as *;

@mixin flex($justify-value, $align-value, $direction, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-value;
  align-items: $align-value;
  gap: $gap;
}

.subTile {
  height: 145px;
  margin-bottom: 43px;
  color: $color-dark-blue-1;
  font-weight: $font-weight-medium;
  font-size: $font-size-page-title;
  @include flex(space-between, center, row, none);
}

.header {
  @include flex(flex-start, center, row, none);
  font-size: $font-size-page-title-lg;
  font-weight: $font-weight-regular;
  color: $color-dark-blue-1;
  height: 102px;
}

.backButton {
  margin-right: 20px;
  cursor: pointer;
}

.pageTitle {
  height: 65px;

  @include flex(center, flex-start, column, 1px);
}

.pageTitleName {
  height: 30px;
  font-size: $font-size-page-title-lg;
  font-weight: $font-weight-medium;
}

.linkToQuizzes {
  color: $color-dark-blue-1;
  font-size: $font-size-page-title-lg;
  font-weight: $font-weight-medium;
}

.loading {
  margin-top: 300px;
  margin-bottom: 400px;

  @include flex(center, center, row, none);
}

.loadingWord {
  margin-left: 10px;
}

.cardList {
  display: flex;
  grid-column-gap: 22px;
  grid-row-gap: 48px;
  width: 1518px;

  &:nth-child(4) {
    grid-column-gap: 29px;
  }
}

.noResultsMessage {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  margin-left: 20px;
  font-size: 24px;
}
