.loginContainer {
  margin-top: 200px;
}

#loginForm {
  background-color: #e0eaec;
  color: #48535b;
  display: flex;
  justify-content: space-evenly;
  padding: 48px 48px;
  border-radius: 2px;
  height: auto;
  width: 430px;
}

.signInText {
  height: 45px;
  align-self: center;
  font-weight: 400px;
  color: #48535b;
}

#signInButton {
  background-color: #c0d5d8;
  border-color: #c0d5d8;
  color: #48535b;
  margin-top: 25px;
  font-size: 14px;
  width: 85px;
  height: 32px;
}

#signInButton:hover {
  background-color: #9abec1;
  border-color: #9abec1;
  color: white;
}

.alert {
  position: fixed;
  top: 100px;
  width: 430px;
  color: #48535b;
}
