.navbar {
  background-color: var(--color-dark-blue-4);
}

.navbarLink {
  font-size: 21px;
  color: #ffffff !important;
  margin: 28px 36px 27px 0px;
}

.navbarCollapse {
  background-color: var(--color-dark-blue-4) !important;
  margin-left: 2rem;
  font-size: 20px;
  color: #ffffff;
}

#dropdownMenu {
  background-color: #ffffff !important;
  color: #ffffff !important;
  margin: 32px 50px 20px 0px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  align-items: center;
}

#dropdownMenu + div {
  background-color: var(--color-dark-blue-4) !important;
}

#dropdownMenu::after {
  display: none;
}

.dropdownItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 144px;
  color: #ffffff !important;
}

.colorActive {
  background-color: #ffffff !important;
  color: black !important;
}

.dropdownItem:active {
  background-color: #ffffff;
}

.dropdownItem:hover {
  color: #000 !important;
}

.colorActive:active {
  background-color: #ffffff9f !important;
}

.dropdownTitleIcon {
  width: 20px;
  height: 20px;
}

.dropdownItemName {
  margin-left: 10px;
}

.title {
  background: linear-gradient(
    184.52deg,
    #ffffff 3.66%,
    rgba(198, 236, 234, 0.552072) 84.58%,
    rgba(128, 214, 208, 0) 170.68%,
    rgba(70, 206, 198, 0.266022) 170.7%
  );

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 17px 0px 18px 50px;
  font-weight: var(--font-weight-heavy);
  font-size: 40px;
  line-height: 47px;
}
