.navbar {
  background-color: #002037;
  height: 80px;
}

.navbarLink {
  font-size: 21px;
  color: #FFFFFF !important;
  margin: 28px 36px 27px 0px;
}

.navbarCollapse {
  background-color: #002037 !important;
  margin-left: 0.5rem;
  font-size: 20px;
  color: #FFFFFF;
}

#dropdownMenu {
  background-color: #FFFFFF !important;
  color: #FFFFFF !important;
  margin: 32px 50px 20px 0px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  align-items: center;
}

#dropdownMenu + div {
  background-color: #002037 !important;
}

#dropdownMenu::after {
  display: none;
}

.dropdownItem {
  font-size: 21px;
  color: #FFFFFF !important;
}

.dropdownItem:hover {
  color: #002037 !important;
}

.dropdownTitleIcon {
  width: 20px;
  height: 20px;
}

.title {
  background: linear-gradient(184.52deg, #FFFFFF 3.66%,
  rgba(198, 236, 234, 0.552072) 84.58%, 
  rgba(128, 214, 208, 0) 170.68%, 
  rgba(70, 206, 198, 0.266022) 170.7%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 17px 0px 18px 50px;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
}
