@use '../../../../../../styles/variables' as *;

#cardHeader {
  background-color: $color-light-blue-1;
  box-shadow: $drop-shadow;
  font-size: $font-size-lg;
  position: relative;
  height: 200px;
  padding: 20px;
  z-index: 1;
}

.card {
  height: 217px;
  width: 400px;
}

.cardTitle {
  font-weight: $font-weight-regular;
  font-size: $font-size-lg;
  line-height: 21px;
}

.cardSubtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: justify;
}

#Subtitle {
  font-weight: $font-weight-regular;
  color: $color-dark-blue-2;
  font-size: 12px;
}

.containerCard {
  flex: 0;
  width: auto;
  padding-right: 0;
}
