.forSeccolum {
  padding: 10px 0px;
  text-align: right;
  margin-top: 30px;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#listTable {
  margin-top: 30px;
  font-size: 24px;
}
#cardHeader {
  background: #4b847c9f;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px;
  height: 40px;
  font-weight: 600;
}
.card {
  margin: 20px;
  height: 300px;
  width: 400px;
  border-radius: 10px;
  font-family: nunito;
}
.cardContent {
  border-radius: 10px;
  padding: 12px;
  margin-top: 18px;
  color: black;
}
.cardTitle {
  color: black;
}
