@use '../../../../../../styles/variables' as *;

#cardHeader {
    background-color: $color-light-blue-1;
    width: 298px;
    height: 167px;
    box-shadow: $drop-shadow;
    position: relative;
    z-index: 1;
    padding: 15px;
    font-size: $font-size-lg;
}

.card {
    height: 217px;
    width: 300px;
    min-width: auto;
}

.cardTitle{
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
    line-height: 21px;
}

.cardSubtitle{
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: justify;
}

#Subtitle{
    font-size: 12px;
    font-weight: $font-weight-regular;
    color: $color-dark-blue-2;
}

.containerCard {
    flex: 0;
    width: auto;
    padding-right: 0;
}
