.editbuttonone {
    width: 20px;
    height: 20px;
    color: var(--color-black);
    float: right;
    position: absolute;
    left: 345px;
    top: 120px;
}

.editbuttonTwo{
    width: 20px;
    height: 20px;
    color: var(--color-black);
    float: right;
    position: absolute;
    left: 345px;
    top: 195px;
}

.control1 {
    width: 334px;
    height: 38px;
    font-size: var(--font-size-base);
    margin-bottom: 0px;
    color: var(--color-dark-blue-1);
}

.HeadingText{
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--color-dark-blue-1);
}

.changepassbutton{
    margin-left: 190px;
    background-color: var(--color-light-blue-2);
    border-color: var(--color-light-blue-2);
    color: var(--color-dark-blue-1);
}
.changepassbutton:hover{
    background-color: var(--color-light-blue-3);
    border-color: var(--color-light-blue-3);
    color:var(--color-white);
}
