.editbuttonone {
    width: 20px;
    height: 20px;
    color: black;
    float: right;
    position: absolute;
    left: 345px;
    top: 120px;
}

.control1 {
    width: 334px;
    height: 38px;
    font-size: 14px;
    margin-bottom: 0px;
    color: #48535B;
}

.HeadingText{
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #48535B;
}

.changepassbutton{
    float: left;
    height: 32px;
    font-size: 14px;
    background-color: #C0D5D8;
    border-color: #C0D5D8;
    color: #48535B;
}
.changepassbutton:hover{
    background-color: #9ABEC1;
    border-color: #9ABEC1;
    color:white
}

.editbutton{
    float: right;
    height: 32px;
    width: 95px;
    font-size: 14px;
    background-color: #C0D5D8;
    border-color: #C0D5D8;
    color: #48535B;
}

.editbutton:hover{
    background-color: #9ABEC1;
    border-color: #9ABEC1;
    color:white
}

.noResults,
.loading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.loadingWord {
  margin-left: 10px;
}

.formControlstyle:disabled{
    background: white
}